tr:nth-child(odd) {
    background-color: darkgray;
    
}
table {
    width: 25%;
}
th {
    background-color: white;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
li {
    list-style: none;
}
html {
    margin: auto;
}