tr:nth-child(odd) {
    background-color: darkgray;
    
}
table {
    width: 50%;
    text-align: center;
}
th {
    background-color: white;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
li {
    list-style: none;
}
html {
    margin: auto;
}