/* Torespont 400px, a NAV az article fele keruljon, aside article ala
Menupontok ne legyenek alahuzva
Ne legyen felsorolas
Ha fele viszem az egeret akkor valtozzon a hatterszine
Htmelek letrehozasa a menuk alapjan
Keszitsd el a mintanak megfelelo tablazatot az article tagbe, uj tablazatformazas cs kell bele, 
de ugyanez az oldalalakitas.css */
tr:nth-child(odd) {
    background-color: darkgray;
    
}
table {
    width: 100%;
}
th {
    background-color: white;
}
a {
    text-decoration: none;
}
a:hover {
    color: red;
}
li {
    list-style: none;
}
html {
    margin: auto;
}
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "h   h   h"
    "n   a   as"
    "f   f   f";
}
header {
    grid-area: h;
}
footer {
    grid-area: f;
    text-align: center;
    margin-top: 15px;
}
aside {
    grid-area: as;
    text-align: center;
    margin-top: 20px;
}